<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Sprint 1</mat-radio-button>
  <mat-radio-button value="2">Sprint 2</mat-radio-button>
  <mat-radio-button value="1">Sprint 3</mat-radio-button>
  <mat-radio-button value="2">Sprint 4</mat-radio-button>
  <mat-radio-button value="1">Sprint 5</mat-radio-button>
  <mat-radio-button value="2">Sprint 6</mat-radio-button>
  <mat-radio-button value="2">Sprint 7</mat-radio-button>
  <mat-radio-button value="2">Sprint 8</mat-radio-button>
</mat-radio-group>
